@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    /*(paragraphs)*/
    --very-light-gray: hsl(0, 0%, 95%);
    /*(background, headings, buttons)*/
    --font-size: 15px;
}

.big-shoulders-display {
    font-family: "Big Shoulders Display", sans-serif;
    font-optical-sizing: auto;
    font-size: 2rem;
    font-style: normal;
    text-transform: uppercase;
    color: var(--very-light-gray);
    font-weight: 700;
}

.lexend-deca {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--transparent-white);
    font-size: var(--font-size);
    line-height: 1.6rem;
}

.learn_more {
    font-family: "Lexend Deca", sans-serif;
    font-size: var(--font-size);
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: white;
    width: 50%;
    border-radius: 2rem;
    text-align: center;
}

.image_width {
    width: 10rem;
    max-width: 20%;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background: var(--transparent-white);
    -webkit-font-smoothing: antialiased;
}

body,
input,
button {
    font-size: 1rem;
}

button {
    cursor: pointer;
}

.template-grid {
    width: 90%;
    margin: 5% auto;
}

.div_props {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 80%;
    margin: auto;
    padding: 1rem 0;
}

.sedan {
    background: var(--bright-orange);
    border-radius: 1.2rem 1.2rem 0 0;
}

.suvs {
    background: var(--dark-cyan);
}

.luxury {
    background-color: var(--very-dark-cyan);
    border-radius: 0 0 1.2rem 1.2rem;
}

.sedan_props a {
    color: var(--bright-orange);
}

.sedan_props a:hover {
    background-color: var(--bright-orange);
    border-color: var(--transparent-white);
}

.suv_props a {
    color: var(--dark-cyan);
}

.suv_props a:hover {
    background-color: var(--bright-orange);
    border-color: var(--transparent-white);
}

.luxury_props a {
    color: var(--very-dark-cyan);
}

.luxury_props a:hover {
    background-color: var(--bright-orange);
    border-color: var(--transparent-white);
}

.templates {
    width: 100%;
    display: grid;
    grid-template-areas: 'sedans''suvs''luxury';
}

.templates:nth-child(1) {
    grid-area: sedans;
}

.templates:nth-child(2) {
    grid-area: suvs;
}

.templates:nth-child(3) {
    grid-area: luxury;
}

@media (min-width: 30rem) {
    .template-grid {
        max-width: 100%;
    }
    .templates {
        grid-template-areas: 'sedans suvs luxury';
        gap: 0;
        width: 100%;
        margin: 40% auto;
    }
    .card {
        max-width: 100%;
    }
    .sedan,
    .luxury {
        border-radius: 0;
    }
    .learn_more {
        width: 80%;
    }
}

@media (min-width: 40rem) {
    .template-grid {
        max-width: 100%;
    }
    .templates {
        grid-template-areas: 'sedans suvs luxury';
        gap: 0;
        width: 95%;
        margin: 25% auto;
    }
    .card {
        width: 100%;
        margin: 0;
    }
    .sedan,
    .luxury {
        border-radius: 0;
    }
    .learn_more {
        width: 80%;
        margin: 1rem 0;
        /* font-size: var(--font-size); */
    }
}

@media (min-width: 80rem) {
    .template-grid {
        max-width: 100%;
    }
    .templates {
        grid-template-areas: 'sedans suvs luxury';
        gap: 0;
        width: 45%;
        margin: 15% auto;
    }
    .card {
        width: 100%;
        margin: 0;
    }
    .sedan,
    .luxury {
        border-radius: 0;
    }
    .learn_more {
        width: 80%;
    }
}


}

}