@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    /*(paragraphs)*/
    --very-light-gray: hsl(0, 0%, 95%);
    /*(background, headings, buttons)*/
    --font-size: 15;
}

.big-shoulders-display {
    font-family: "Big Shoulders Display", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-transform: uppercase;
}

.lexend-deca {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background: var(--transparent-white);
    /* color: ; */
    -webkit-font-smoothing: antialiased;
}

body,
input,
button {
    font-size: 1rem;
}

button {
    cursor: pointer;
}

.template-grid {
    width: 90%;
    display: grid;
    grid-template-areas: 'sedans' 'suvs' 'luxury';
}

.sedan {
    background: var(--bright-orange);
}

.image_width {
    width: 10rem;
    max-width: 20%;
}

.suvs {
    background: var(--dark-cyan);
}

.luxury {
    background-color: var(--very-dark-cyan);
}

.templates:nth-child(1) {
    grid-area: sedans;
}

.templates:nth-child(2) {
    grid-area: suvs;
}

.templates:nth-child(3) {
    grid-area: luxury;
}

.templates {
    width: 100%;
}

@media (min-width: 50rem) {
    .template-grid {
        max-width: 70%;
        margin: 25% auto;
        grid-template-areas: 'sedans' 'suvs' 'luxury';
    }
}